{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {},
          "preset-react": {
            "runtime": "automatic"
          }
        }
      ]
    ],
    "plugins": []
  }