@import url('https://fonts.googleapis.com/css?family=Montserrat');

.homepage_cover {
  position: relative
}

.homepage_cover > img {
  width: 100%;
  height: 95vh;
}

/*OUR STUDIO section */

.studio_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #666;
}

.studio_section > .child {
  width: 50%;
  flex-shrink: 0;
}

.studio_section > img {
  border: 2px solid black;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.studio_section > .description_section {
  padding: 10px 20px;
}

.description_section > .description {
  padding: 5% 5%;
  box-shadow: -5px 5px 10px lightgray;
  background-color: white;
}

.description_section > h3 {
  color: white;
}

.studio_section > img {
  max-width: 100%;
}


/* SERVICE SECTION */
.service_section {
  padding: 10px 20px;
}

.service_section > .services_flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 20px; 
}

/*ARROW CONTAINER*/
.arrow {
  cursor: pointer;
  height: 60px;
  position: absolute;
  bottom: 50%;
  transition: transform .1s;
  width: 40px;

  --transition-time: .15s;
}

.arrow.next {
  right: 2%;
}

.arrow.prev {
  left: 2%;
  transform: rotate(180deg);
}

.arrow.more {
  transform: rotate(90deg);
  left: 50%;
  bottom: 2%;
}

.arrow.prev:active {
  transform: scale(0.8) rotate(180deg);
}

.arrow.more:active {
  transform: rotate(90deg) scale(0.8);
}

.arrow_begin, .arrow_end {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow_begin::after, .arrow_end::after{
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all var(--transition-time);
}

.arrow_end {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow_end::after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow_begin {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow_begin::after {
  left: 0;
  right: 100%;
  transition-delay: var(--transition-time);
}

.arrow:hover > .arrow_end::after{
  left: 0;
  transition-delay: var(--transition-time);
}

.arrow:hover > .arrow_begin::after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: scale(0.8);
}

/*LEARN MORE BUTTON*/

.learnmore_link {
  --b64: url('https://image.flaticon.com/icons/png/128/109/109617.png');

  color: black;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  position: relative;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid black;
  transition: .02s .2s cubic-bezier(.1, 0, .1, 1);
}

.learnmore_link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #666;
  transition: .3s .2s cubic-bezier(.1, 0, .1, 1), left .3s cubic-bezier(.1, 0, .1, 1);
  z-index: -1;
}

.learnmore_link::after {
  content: "";
  display: inline-block;
  background-image: var(--b64);
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right .3s cubic-bezier(.1, 0 .1, 1);
}

.learnmore_link:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}

.learnmore_link:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: .3s cubic-bezier(.1, 0, .1, 1), left .3s .2s cubic-bezier(.1, 0, .1, 1);
  z-index: 0;
}

.learnmore_link:hover::after {
  right: 0;
  transition: right .3s .2s cubic-bezier(.1, 0, .1, 1);
}

/* TEAM SECTION */
.team_section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 10px;
    background-color: #666;
}

.team_section > .team_section_header {
  width: 20%;
  text-align: center;
  flex-shrink: 1;
}

.team_section_header > h3 {
  color: white;
}

.team_section_header > .member_selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.member_selectors > .member_selector:hover {
  background-color: blue;
}

.team_section > .team_card {
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  color: white;
}

.team_card > img {
	height: 300px;
	border: 8px solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 2px;
  background-image: url(""), linear-gradient(to bottom right, lightgray, white, black);
}

.team_card > .member_info {
  width: 300px;
  margin-left: 50px;
}

.member_info > button {
  font-weight: 700;
  padding: 7px 15px;
  color: black;
  background-color: white;
  border: 2px solid black;
  float: right;
}

.member_info > button:hover {
  color: white;
  background-color: black;
}

/* CLIENT REVIEWS SECTION */
.client_reviews_section {
  padding: 20px 10px;
}

.client_reviews_section > .reviews {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.reviews > .review {
  display: inline-block;
}

@media (max-width:749px) {
  .team_section {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 20px 10px;
    background-color: #666;
  }
}