@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    min-height: 500px;
    margin-bottom: 50px;
}

.profile {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: lavender;
    padding: 20px 20px;
    box-sizing: content-box;
    vertical-align: top;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    position: sticky;
    top: 80px;
    left: 20px;
}

.profilePicture {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 0px;
    object-fit: cover;
    box-sizing: content-box;
}

.profileAligner {
    display: inline-block;
    text-align: start;
}

.profileHeader {
    text-align: center;
}

.icon {
    margin-right: 10px;
    font-size: 30px;
    color: black;
}

.profileContact {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.profileContact a {
    text-decoration: none;
    font-weight: 600;
}

#appointmentContent {
    padding: 20px 40px;
    flex-grow: 1;
    overflow: hidden;
}

.appointmentList {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    align-items: flex-start;
    scrollbar-width: thin;
    scrollbar-color: black;
    padding-bottom: 5px;
}

.appointmentList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.appointmentList::-webkit-scrollbar-track {
    background-color: transparent;
}

.appointmentList::-webkit-scrollbar-thumb {
    background-color: lightslategray;
    border-radius: 20px;
    border: 1px solid black;
    background-clip: content-box;
}

.appointmentList::-webkit-scrollbar-thumb:hover {
    background-color: lavender;
}

.appointmentsTypeHeading {
    text-decoration: underline;
}

#requestedHeading {
    text-decoration-color: #eeea07;
    text-decoration-thickness: 3px;
}

#confirmedHeading {
    text-decoration-color: #1867df;
    text-decoration-thickness: 3px;
}

#cancelledHeading {
    text-decoration-color: orange;
    text-decoration-thickness: 3px;
}

#completedHeading {
    text-decoration-color: #009933;
    text-decoration-thickness: 3px;
}

#recentHeading {
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

#noShowHeading {
    text-decoration-color: #cc3300;
    text-decoration-thickness: 3px;
}

.error_alert {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}

#user_appointments {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

#user_appointments_list {
    flex-grow: 2;
    flex-wrap: nowrap;
    height: 100%;
}

#user_appointments_filter {
    flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 0;
}

.header {
    font-family: 'Dongle', sans-serif;
    color: #5e35b1;
    text-align: center;
}

#appointments_filter_subheader {
    font-weight: bold;
    font-size: 20px ;
    color: #eceff1;
    text-align: center;
}

.appointments_filter_option {
    color: white;
}

#user_appointments_container {
    height: calc(100% - 150px);
    background-color: #424242;
    padding: 10px 10px;
    overflow: auto;
    box-shadow: -5px 5px 5px black;;
    border-radius: 5px;
}

#select_filter_info {
    color: white;
    text-align: center;
}

#select_filter_info {
    height: 100%;
}

.filtered_section {
    background-color: white;
    padding: 5px 5px;
    margin: 10px;
}

#dateFilter {
    margin: 10px 0px;
}